.header-area{
    width: 100%;
    position: absolute;
}
.home_page{
    height: 100vh;
    background-image: url("../img/banner.png");
    background-size: cover;
}
.about_page{
    color: white;
    background-color: #311E25;
}
.service_area{
    background-color: #3B2930;
    padding-bottom: 90px;
    padding-top: 100px;
    color: white;
}
.service_box_haeding{
    color: rgb(205, 107, 107);
    font-size:x-large;
    font-family:'Times New Roman', Times, serif;
}
.education_area{
    background-color: #311E25;
    color: white;
    padding-top: 80px;
    padding-bottom: 100px;
}